.comment
  .upper-comment
    .upper-comment__name
      = message.user.name
    .upper-comment__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-comment
    - if message.content.present?
      %p.upper-comment__content
      = message.content
    = image_tag message.image.url, class: 'lower-comment__image' if message.image.present?
