.left-bar{
  box-sizing: border-box;
  width: 300px;
  color: $white;
  float:left;
    .header{
      background-color: #253141;
      padding: 0 20px;
      height: 100px;
      line-height: 100px;
      &__name{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: $white;
        float: left;
      }
      &__icons{
        float: right;
        display: inline-block;
      }
      .icon{
        color: $white;
        display: inline-block;
        line-height: 100px;
      }
      .list{
        color: $white;
        display:inline-block;
        line-height: 100px;
      }
    }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: 15px;
      }
      &__message {
        color: $white;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}





//     .groups{
//       background-color: #2f3e51;
//       height: calc(100vh - 100px);
//       padding: 0 20px;
//       .group{
//         box-sizing: border-box;
//         color: $white;
//         padding-top: 20px;
//         &__name{
//           font-size: 15px;
//           color: $white;
//         }
//         &__text{
//           color: $white;
//           margin-top: 5px;
//           margin-bottom: 40px;
//           font-size: 11px;
//         }
//       }
//     }
// }


